<div class="container">
  <div class="page-header">
    <h1>Edit Order</h1>
  </div>
  <%= form_for @order do |f| %>
      <% if @order.errors.any? %>
          <div class="alert alert-danger" role="alert">
            <ul>
              <% @order.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <p>
        <%= f.label :date %><br>
        <%= f.date_select :date %>
      </p>

      <%= f.fields_for :detail do |ff| %>
          <p>
            <%= ff.label :reason %><br>
            <%= ff.text_area :reason %>
          </p>

          <p>
            <%= ff.label :car %><br>
            <%= ff.text_area :car %>
          </p>

          <p>
            <%= ff.label :owner %><br>
            <%= ff.text_area :owner %>
          </p>
      <% end %>

      <p>
        <%= f.submit 'Save', class: 'btn btn-success'%>
        <%= link_to 'Back', orders_path, class: 'btn btn-danger' %>
      </p>
  <% end %>
</div>