<h1>Order details</h1>
<%= form_for @order, url: order_path(@order), method: :patch do |f| %>
<p>
  <strong>Repair Date:</strong>
  <%= @order.date %>
</p>
<p>
  <strong>State:</strong>
  <%= f.select :state, options_for_select(%w[pending ongoing completed], @order.state), {}, {onChange: 'this.form.submit();'} %>
</p>
<p>
  <strong>Reason:</strong>
  <%= @order.detail.reason %>
</p>
<p>
  <strong>Car:</strong>
  <%= @order.detail.car %>
</p>
<p>
  <strong>Owner:</strong>
  <%= @order.detail.owner %>
</p>
<% end %>
<p>
<%= link_to '<< All orders', orders_path %>
</p>